node_modules
npm-debug.log
dist
build
.git
.gitignore
README.md
.env
.env.local
.env.*.local
coverage
.eslintrc.json
.prettierrc
jest.config.js
test
.vscode
.idea
*.md
uploads
.dockerignore
Dockerfile
docker-compose*.yml
.github
.husky
.DS_Store
Thumbs.db
*.log
.npm
.yarn
backups
bruno
http-tests
.env.dev
.gitattributes
